<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BEESSH</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%- include('./includes/trailwind.ejs'); %>
    <%- include('./includes/background.ejs'); %>
</head>
<body  class="landing-page">
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://as.mba/dashboard" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Designed by Creative Tim">
                <span>BEE•</span> SSH
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a>
                            BEE•
                        </a>
                    </div>
                    <div class="col-6 collapse-close text-right">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cogs d-lg-none d-xl-none"></i> Welcome <%= user.name %>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <% if(!user.mfa) {%>
                            <a href="examples/register-page.html" class="dropdown-item">
                                <i class="tim-icons icon-bullet-list-67"></i>Enable 2FA
                            </a>
                        <% } %>
                        <a href="examples/profile-page.html" class="dropdown-item">
                            <i class="tim-icons icon-double-right"></i>Logout
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-default d-none d-lg-block" href="javascript:void(0)" onclick="scrollToDownload()">
                        <i class="tim-icons icon-cloud-download-93"></i> Download
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Body -->
<div class="header header-6">
    <div class="page-header">
        <div class="content-center">
            <div class="container">
                <div class="row align-items-center text-left">
                    <div class="col-lg-6 col-12">
                        <h1 class="title">Enable
                            <br><strong class="text-info">2-FA Auth</strong></h1>
                        <p class="description">The secret: <%= otp_secret %></p>
                        <form action="/setup-2fa-validate" method="POST">
                            <div class="row row-input">
                                <div class="col-sm-8 col-12 mt-1">
                                    <input class="form-control" name="token" type="number" id="signupSrEmail" placeholder="XXXXXX" aria-label="XXXXXX">
                                </div>
                                <div class="col-sm-4 col-12">
                                    <button type="submit" class="btn btn-info btn-block">Verify</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-12">
                        <img src="<%= qrcode %>" class="path path3">
                        <figure class="header-shape">
                            <svg x="0px" y="0px" viewBox="10 12 878.9 907" style="enable-background:new 10 12 878.9 907;" xml:space="preserve" class="injected-svg js-svg-injector">
                                    <g>
                                        <defs>
                                            <path id="shape1" d="M300.34,75.35C379.42-7.43,305.86,185.78,540.87,98.95,647.68,46,677,219,674.65,258.55c-11,185-132.32,65-13.89,317.66,56.86,121.32-94.88,256-155.89,151.41-55.11-94.48-151.56-85.1-189-90.54-311-45.27-9.33-148.52-125.21-256.78C9.7,211.2,190.5,100.86,306.34,70.35Z"></path>
                                        </defs>
                                        <clipPath id="shape2">
                                            <use xlink:href="#shape1" style="overflow:visible;"></use>
                                        </clipPath>
                                        <g clip-path="url(#shape2)">
                                            <image id="imageShape1" style="overflow:visible;" width="800" height="900" xlink:href="assets/img/img_352.png" transform="matrix(0.9488 0 0 0.9488 25 53.1187)"></image>
                                        </g>
                                    </g>
                                <g>
                                    <defs>
                                        <path id="shape3" d="M186.26,647.36c7,1,14,1.87,21.11,2.4,42.73,3.24,173.84,9.32,234.51,60.15,72.83,61,105.38,80.19,37.4,96.45C388.73,828,438.49,724,312,749.28c-167.3,33.46-210.61-70.86-181.08-90.54C151.8,644.8,174.69,645.67,186.26,647.36Z"></path>
                                    </defs>
                                    <clipPath id="shape4">
                                        <use xlink:href="#shape3" style="overflow:visible;"></use>
                                    </clipPath>
                                    <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#shape4)">
                                        <image id="imageShape2" style="overflow:visible;" width="900" height="900" xlink:href="assets/img/img_352.png" transform="matrix(0.9488 0 0 0.9488 25 53.1187)"> </image>
                                    </g>
                                </g>
                            </svg>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
