<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeeSSH - Reset Password</title>
    <%- include('./includes/trailwind.ejs'); %>
    <%- include('./includes/background.ejs'); %>


</head>
<body class="leading-normal tracking-normal text-white m-6 bg-cover bg-fixed">

<div class="h-full">
    <%- include ("./includes/header"); %>
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-20 w-auto" src="/img/logo.svg" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-yellow-300">Reset your password <%= user.name %></h2>
                <p class="mt-2 text-center text-sm text-white">
                    Or
                    <a href="/users/login" class="font-medium text-white hover:text-yellow-300">login</a>
                </p>
            </div>
            <%- include ("./partials/messages"); %>
            <form class="mt-8 space-y-6" action="/users/changePassword" method="POST">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="resetToke" class="sr-only">Reset Token</label>
                        <input id="resetToke" name="resettoken" type="text" autocomplete="current-password" required
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-white-300
                     placeholder-white-500 text-yellow-300 rounded-t-md focus:outline-none focus:ring-yellow-500
                     focus:border-yellow-500 focus:z-10 sm:text-sm" placeholder="Reset Token"
                               value="<%= ResetToken %>">
                    </div>
                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input id="password" name="password" type="password" autocomplete="current-password" required
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-white-300
                     placeholder-white-500 text-yellow-300 rounded-m-md focus:outline-none focus:ring-yellow-500
                     focus:border-yellow-500 focus:z-10 sm:text-sm" placeholder="Password">
                    </div>
                    <div>
                        <label for="password2" class="sr-only">Password</label>
                        <input id="password2" name="password_1" type="password" autocomplete="current-password" required
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-white-300
                     placeholder-white-500 text-yellow-300 rounded-b-md focus:outline-none focus:ring-yellow-500
                     focus:border-yellow-500 focus:z-10 sm:text-sm" placeholder="Password">
                    </div>
                    <div class="hidden" id="MFAImput">
                        <label for="mfa" class="sr-only">2FA Token</label>
                        <input id="mfa" name="mfakey" type="number" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-white-300
                     placeholder-white-500 text-yellow-300 rounded-b-md focus:outline-none focus:ring-yellow-500
                     focus:border-yellow-500 focus:z-10 sm:text-sm" placeholder="123456" maxlength="6">
                    </div>
                </div>


                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input id="2FA" name="2fa" type="checkbox" class="h-4 w-4 text-white-600 focus:ring-yellow-500 border-yellow-300 rounded">
                        <label for="2FA" class="ml-2 block text-sm text-white-900"> Use 2FA? </label>
                    </div>

                    <div class="text-sm">
                        <a href="/users/resetpassword" class="font-medium text-white-600 hover:text-yellow-300"> Forgot your password? </a>
                    </div>
                </div>

                <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium
            rounded-md text-black bg-yellow-300 hover:bg-transparent duration-300 ease-in-out hover:text-white duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-transparent">
                       Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script>
    const faon = document.getElementById("2FA");
    const mfainput = document.getElementById("MFAImput");
    const designStuff = document.getElementById("password2");
    faon.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            mfainput.classList.remove("hidden");
            designStuff.classList.remove("rounded-b-md");
            designStuff.classList.add("rounded-m-md");
        } else {
            mfainput.classList.add("hidden");
            designStuff.classList.remove("rounded-m-md");
            designStuff.classList.add("rounded-b-md");
        }
    })
</script>
</body>
</html>
