<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeeSSH - Reset Password</title>
    <%- include('./includes/trailwind.ejs'); %>
    <%- include('./includes/background.ejs'); %>


</head>
<body class="leading-normal tracking-normal text-white m-6 bg-cover bg-fixed">
<div>
    <%- include ("./includes/header"); %>
</div>

<main class="form-signin w-100 m-auto">
    <%- include ("./partials/messages"); %>
    <form action="/users/changePassword" method="POST">
        <!-- <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Reset your Password <%= user.name %></h1>

        <div class="form-floating" style="color: black;">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating" style="color: black;">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Repeat Password" name="password_1">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="use2fa" id="2FA"> 2FA?
            </label>
        </div>
        <div class="form-floating" style="color: black;" id="MFAImput" style="visibility: hidden">
            <input type="number" class="form-control" maxlength="6" id="mfakey" name="mfakey">
            <label for="mfakey">123456</label>
        </div>
        <input type="text" hidden class="form-control" id="floatingPassword" value="<%= ResetToken %>" name="resettoken">

        <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
        <p class="mt-5 mb-3" style="color: white;">&copy; SATSUYA-SYSTEMS 2022</p>
    </form>
</main>

<!--Script for Hide/Show 2FA-->
<script>
    const faon = document.getElementById("2FA");
    const mfainput = document.getElementById("MFAImput");
    faon.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            mfainput.style.visibility = "visible";
        } else {
            mfainput.style.visibility = "hidden";
        }
    })
</script>

</body>
</html>
